<div class="card">
    <div class="card-header">
        {{ pageTitle}}
    </div>
    <div class="card-body">

        <form novalidate (ngSubmit)=salvar() [formGroup]="tarefaForm">
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">Nome</label>
                <div class="col-md-7">
                    <input type="text" id="nome" name="nome" class="form-control" placeholder="Informe o nome da tarefa"
                        formControlName="nome">
                </div>
            </div>
            <div class="form-group row">
                <label for="nome" class="col-md-2 col-form-label">Detalhes</label>
                <div class="col-md-7">
                    <textarea name="detalhes" id="detalhes" rows="3" placeholder="Informe os detalhes da tarefa" class="form-control"
                        formControlName="detalhes"></textarea>
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-6">
                    <button type="submit" class="btn btn-primary mr-2">
                        Salvar
                    </button>
                    <button type="button" class="btn btn-secondary mr-2">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-danger">
                        Excluir
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}

</div>