<div class="card">
    <div class="card-header">

        <div class="d-flex justify-content-between">
            <div>
                <strong>Minhas Tarefas</strong>
            </div>

            <div>
                <button class="btn btn-primary"
                [routerLink]="['/tarefas/cadastrar']">
                <i class="fa fa-plus"></i>
                    Nova Tarefa
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarefa of tarefas">
                    <td>
                        {{ tarefa.nome}}
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/tarefas', tarefa.id, 'editar']">
                            <i class="fa fa-edit">Editar</i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>